.hero-container {
    position: relative;
}

.hero-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.764);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-gallery {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-gallery img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hero-gallery img.active {
    opacity: 1;
}

.hero-gallery button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 10px;
    background-color: var(--color-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.hero-gallery button:hover {
    transform: scale(1.1);
}