.nav__above {
    width: 100%;
    padding: 0.7rem 1.7rem;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    animation: colorChange 6s ease-in-out infinite;
}

nav {
    background: linear-gradient(to right, var(--color-white), var(--color-primary-light));
    width: 100%;
    padding: 0.7rem 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

nav a {
    padding: 0.9rem;
    color: var(--color-black);
    font-size: 1.1rem;
}

.nav-links {
    display: flex;
}

nav a {
    margin-left: 1rem;
}

nav a:hover {
    color: var(--color-primary);
    transform: scale(1.1);
}

nav img {
    width: 100px;
}


@keyframes colorChange {
    0% {
        background-color: var(--color-primary-variant);
    }

    50% {
        background-color: var(--color-primary);
    }

    100% {
        background-color: var(--color-primary-variant);
    }
}